{% extends "base.html" %}

{% block title %}Чат: {{ room_name }}{% endblock %}

{% block content %}
<main class="container mx-auto mt-10 p-8 bg-neutral-900 text-foreground rounded-lg shadow-lg">
    <h1 class="text-3xl font-semibold mb-6">Чат: {{ room_name }}</h1>
    <div id="chat-window" class="mb-4 p-4 bg-background border border-border rounded-lg h-80 overflow-y-auto">
        <!-- Здесь будут отображаться сообщения чата -->
    </div>
    <form id="send-message-form" class="flex items-center space-x-4">
        <input type="text" id="message" name="message" required placeholder="Введите сообщение..."
               class="p-3 w-full bg-background border border-border rounded focus:outline-none focus:ring-2 focus:ring-accent">
        <button type="submit"
                class="p-3 bg-accent text-white rounded hover:bg-accent-hover transition duration-300 ease-in-out">
            Отправить
        </button>
    </form>
</main>
<script>
    const roomId = "{{ room_id }}";
    const cookieString = document.cookie.split('; ').find(row => row.startsWith('Authorization='));

    // Проверяем, нашлась ли кука с авторизацией, и корректно ли извлекается значение токена
    let token = null;
    if (cookieString) {
        token = cookieString.split('=')[1].replace(/%22/g, '');  // Убираем кавычки если они есть
    }

    if (token) {
        const ws = new WebSocket(`ws://localhost:8001/ws/chat/${roomId}?token=${token}`);

        ws.onopen = function () {
            console.log('WebSocket подключен');
        };

        ws.onmessage = function(event) {
            const chatWindow = document.getElementById('chat-window');
            const messageElement = document.createElement('div');
            messageElement.textContent = event.data;
            chatWindow.appendChild(messageElement);
            chatWindow.scrollTop = chatWindow.scrollHeight;  // Прокрутка вниз для новых сообщений
        };

        const messageForm = document.getElementById('send-message-form');
        const messageInput = document.getElementById('message');

        messageForm.onsubmit = function(event) {
            event.preventDefault();
            const message = messageInput.value;
            if (message) {
                ws.send(message);
                messageInput.value = '';
            }
        };
    } else {
        console.error('Токен не найден в куках!');
    }
</script>

{% endblock %}
