{% extends "base.html" %}

{% block title %}Чат: {{ room_name }}{% endblock %}

{% block content %}
<main class="container mx-auto mt-10 p-8 bg-neutral-900 text-foreground rounded-lg shadow-lg">
    <h1 class="text-3xl font-semibold mb-6">Чат: {{ room_name }}</h1>
    <div id="chat-window" class="mb-4 p-4 bg-background border border-border rounded-lg h-80 overflow-y-auto">
        <!-- Здесь будут отображаться сообщения чата -->
    </div>
    <form id="send-message-form" class="flex items-center space-x-4">
        <input type="text" id="message" name="message" required placeholder="Введите сообщение..."
               class="p-3 w-full bg-background border border-border rounded focus:outline-none focus:ring-2 focus:ring-accent">
        <button type="submit"
                class="p-3 bg-accent text-white rounded hover:bg-accent-hover transition duration-300 ease-in-out">
            Отправить
        </button>
    </form>
</main>
<script>
    const roomId = "{{ room_id }}";
    const tokenCookie = document.cookie.split('; ').find(row => row.startsWith('Authorization='));
    let token = '';

    if (tokenCookie) {
        token = tokenCookie.split('=')[1].replace(/"/g, '');  // Извлекаем токен и удаляем лишние кавычки
        if (token.startsWith("Bearer ")) {
            token = token.substring("Bearer ".length);
        }
    }

    // Устанавливаем WebSocket соединение с переданным токеном
    const ws = new WebSocket(`ws://${window.location.host}/ws/chat/${roomId}?token=${token}`);

    ws.onopen = function () {
        console.log("WebSocket соединение установлено");
    };

    const chatWindow = document.getElementById('chat-window');
    const messageForm = document.getElementById('send-message-form');
    const messageInput = document.getElementById('message');

    ws.onmessage = function(event) {
        const messageElement = document.createElement('div');
        messageElement.textContent = event.data;
        chatWindow.appendChild(messageElement);
        chatWindow.scrollTop = chatWindow.scrollHeight;  // Прокрутка вниз для новых сообщений
    };

    messageForm.onsubmit = function(event) {
        event.preventDefault();
        const message = messageInput.value;
        if (message) {
            ws.send(message);
            messageInput.value = '';
        }
    };

    ws.onclose = function () {
        console.log("WebSocket соединение закрыто");
    };
</script>


{% endblock %}
